<form
    action="/admin-block-user"
    mix-patch
    id="toggle-user-{{ user.user_pk }}"
    class="mt-2"
>
    <input name="block-user-input" type="hidden" value="{{ user.user_pk }}" />

    <button
        type="button"
        class="rounded-lg px-4 py-1 text-c-white bg-c-red cursor-pointer ts-200 mx-2"
        hover="bg-c-red[40]"
        mix-default="Please wait..."
        onclick="
            if (confirm('Confirm action?')) {
                this.closest('form').requestSubmit();
            }
        "
    >
        {% if user.user_is_blocked == 0 %} Block User {% else %} Unblock User {%
        endif %}
    </button>
</form>
