<form action="/admin-block-user" method="post" mixpatch class="mt-2">
    <input name="block-user-input" type="hidden" value="{{user.user_pk}}" />
    <button
        type="submit"
        type="submit"
        class="rounded-lg px-4 py-1 text-c-white bg-c-red cursor-pointer ts-200 mx-2 cursor-pointer"
        hover="bg-c-red[40]"
        mix-default="Block"
        mix-await="Please Wait..."
        onclick="
            if (confirm('Block Profile?')) {
                this.closest('form').requestSubmit();
            } else {
                alert('Profile block cancelled');
            }
        "
    >
        Block user
    </button>
</form>
