<section id="admin">
    <h1>Admin</h1>
    <details>
        <summary>See Blocked posts</summary>
        <section id="posts" class="profile-timeline">
            <h2>Blocked tweets</h2>
            {% for tweet in tweets: %} {% include "_tweet.html" %} {% else %}
            <p class="profile-empty-state">No blocked tweets</p>
            {% endfor %}
        </section>
    </details>
    <details>
        <summary>See Blocked Users</summary>
        <h2>Blocked Users</h2>
        {% for blocked_user in blocked_users: %} {% include "_blocked_user.html"
        %} {% else %}
        <p class="profile-empty-state">No blocked users</p>
        {% endfor %}
    </details>
</section>
