<article
    class="blocked-user post border-1 border-solid border-c-black rounded-md"
>
    <a href="/{{blocked_user.user_username}}" mix-get>
        <img
            src="{{ url_for('static', filename='images/'~(blocked_user.user_avatar_path if blocked_user.user_avatar_path else 'unknown.jpg')) }}"
            alt="Profile Picture"
            class="w-8 h-8 rounded-full name pointer-e-none"
        />
    </a>
    <div class="post-content">
        <div class="post-header">
            <a href="/{{ blocked_user.user_username }}" mix-get>
                <span class="name pointer-e-none text-c-black">
                    {{ blocked_user.user_first_name }} {{
                    blocked_user.user_last_name }}
                </span>
            </a>
            <a href="/{{ blocked_user.user_username }}" mix-get>
                <span class="handle name pointer-e-none !text-w-normal"
                    >@{{ blocked_user.user_username }}</span
                >
                ·
            </a>
        </div>
    </div>
    <div id="toggle-user-{{ blocked_user.user_pk }}">
        {% include "__admin_toggle_user_button.html" with context %}
    </div>
</article>
